# openapi/v1.yaml — the HTTP contract for identity's v1 surface.
#
# This file is what `exposes.api` in cafaye.yml points at, and it is written to
# cafaye/core docs/openapi-conventions.md. Where core and this file disagree, core
# is right and this file is the bug.
#
# Three places this document knowingly departs from core, all of them a manager
# decision rather than a local choice. They are listed under "Known gaps" at the
# bottom and repeated inline where they apply, so neither is easy to miss.
openapi: 3.1.0

info:
  title: cafaye identity
  # Bumped for the OIDC registration routes and again for the multi-factor
  # routes. No path prefix moved and no existing response shape changed, so
  # core's sync rule asks for exactly this: a non-breaking change bumps only the
  # document version.
  #
  # The 202 on POST /v1/session is the exception worth reading twice. It is a new
  # response on an existing operation, and an existing 200 client is unaffected by
  # it because 200 is still what an account with no second factor gets. A client
  # that only accepts 200 is broken the moment a user enrolls, which is precisely
  # the moment the client has to change.
  version: 1.2.0
  summary: Authentication, sessions, multi-factor authentication, accounts, tenancy and OIDC registrations.
  description: |
    `identity` is the cafaye platform's security boundary: it is what every other
    service asks to identify a caller.

    ## Two credential surfaces

    A successful `POST /v1/session` hands back the same session token twice.

    * As a `__Host-session` cookie, for a browser. The cookie is `Secure`,
      `HttpOnly`, `SameSite=Lax` and `Path=/`, with no `Domain`. The `__Host-`
      prefix is a browser-enforced contract: such a cookie is accepted only under
      those conditions, which is what stops a sibling or subdomain origin from
      setting or overwriting it.
    * As a `token` field in the response body, for an API client. A cookie is a
      browser mechanism; a server-side client cannot use one, and core's
      conventions say as much ("No cookies for API traffic").

    Both name the same session. `DELETE /v1/session` revokes it for both surfaces
    at once, and the token stops working immediately on both.

    `GET /v1/me` accepts either. An `Authorization: Bearer` header is preferred
    over the cookie when both are present, because a client holding both has said
    which one it means.

    ## An account with a second factor gets a 202 and no session

    `POST /v1/session` has a second success shape. When the password is correct
    and the account has a confirmed second factor, the response is **202** with a
    challenge and **no session at all** — no `token` field, and no session cookie.
    The challenge authenticates nothing until it is presented with a code at
    `POST /v1/session/mfa`, which is where the session is minted.

    There is no way to get a session out of this service without answering a
    second factor on an account that has one. That is enforced in the use case,
    not in a middleware, so no route, no error path and no future handler can
    arrange around it.

    A `200` is still what an account with no second factor gets, and the two are
    told apart by the status code rather than by a field: a client that only
    accepts 200 is broken the moment a user enrolls, which is the moment it has to
    change anyway.

    ## Errors

    Every non-2xx response is `application/problem+json` (RFC 9457) with core's
    `code` and `trace_id` extensions, and no exceptions. `trace_id` is always
    present and always equal to the `X-Trace-Id` response header; support starts
    from that id. `errors[]` appears only on 422 and lists per-field failures.

    Login never distinguishes a wrong password from an unregistered address. Both
    are 401 with the same body. A 423 is the one place login reveals that an
    account exists, and it does so only because the caller has just demonstrated
    knowledge of a working password's absence five times over.

    ## Request size

    Request bodies are capped at 4096 bytes. A registration is an email and a
    password; nothing legitimate approaches that, and the cap is what stops an
    unauthenticated caller choosing how much this service parses per request.

    ## The OpenID Connect provider is a different document

    This service is also an OpenID Connect provider, and its protocol surface is
    NOT here. The discovery document, the JWKS, the authorization, token and
    userinfo endpoints, and the login page are all on paths the specifications
    fix — `/.well-known/openid-configuration`, `/oidc/authorize` and so on — and
    core's conventions put every path in this document under `/v1`. A document
    that contained both would break one of the two rules.

    The provider's contract is `openid/openid.yaml`, and it is a separate file
    for the same reason the error envelope differs there: an off-the-shelf OIDC
    client library cannot parse a problem document, and core's `/v1` rule cannot
    be satisfied by a path RFC 8414 chooses. What IS in this document is the
    cafaye API for managing the registrations that provider accepts:
    `/v1/accounts/{account_id}/oidc-clients`.

    ## Two authorization decisions worth knowing before reading the matrix

    A non-member of an account gets **404**, never 403, on every account-scoped
    route including the OIDC ones. A 403 would confirm that the account id they
    guessed is a real account, which is a free tenant-enumeration oracle on a
    table whose ids are the only thing standing between one customer and
    another.

    Registering, reading and revoking an OIDC client are **owner-only**. Adding a
    client is adding a new way for code to arrive in a product and get a token
    back out, and "can read the member list" is not authority to widen the
    perimeter. `identity` has no platform-admin role yet — the admin API is a
    later packet — so the owner role is the one privilege this service already
    has that means "may change what can enter this account".
  contact:
    name: identity
    url: https://github.com/cafaye/identity
    email: identity@cafaye.com
  license:
    name: MIT
    url: https://opensource.org/license/mit

servers:
  - url: https://identity.cafaye.com
    description: production
  - url: http://localhost:8080
    description: local development (docker compose up)

tags:
  - name: users
    description: Registration. Creating the credential is the only way to obtain one.
  - name: sessions
    description: Logging in, resolving a session, and revoking it.
  - name: mfa
    description: |
      The second factor: TOTP enrollment, the login's second step, recovery codes,
      and turning it off.

      Absent entirely when `MFA_ENCRYPTION_KEY` is not configured. The management
      routes are not mounted in that deployment, and the login's second step IS,
      so a user who enrolled elsewhere is refused rather than let in on their
      password. The absence of these routes says nothing about whether a second
      factor is still required — `POST /v1/session/mfa` rides on the sessions
      surface and answers 503 when it cannot verify a code.
  - name: oidc-clients
    description: |
      OpenID Connect client registrations: the credentials products present at
      the token endpoint. The protocol surface itself is in `openid/openid.yaml`.
  - name: probes
    description: Liveness and readiness. Consumed by orchestrators, not by clients.

paths:
  /v1/users:
    post:
      tags: [users]
      operationId: registerUser
      summary: Register an account
      description: |
        Creates a user and, in the same database transaction, records an
        `identity.user.created` event. Either both exist or neither does: a user
        that exists without its event would never be announced, and an event
        without its user would announce a registration that did not happen.

        Does not create a session. Sign in separately with `POST /v1/session`.

        This is the only endpoint that reveals whether an address is already
        registered, and it answers 409. Everywhere else, "no such account" and
        "wrong password" are indistinguishable.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              default:
                summary: a new registration
                value:
                  email: kaka@example.com
                  password: correct horse battery staple
      responses:
        '201':
          description: The account was created.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                default:
                  value:
                    id: ab000000-0000-0000-0000-000000000000
                    email: kaka@example.com
        '400':
          $ref: '#/components/responses/MalformedBody'
        '409':
          description: An account already exists for that address.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Retry-After:
              description: Always absent on a 409. Present only on a 423.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                conflict:
                  summary: the address is taken
                  value:
                    type: https://errors.cafaye.com/conflict
                    title: Conflict
                    status: 409
                    detail: an account already exists for that email address
                    instance: /v1/users
                    code: conflict
                    trace_id: 0af7651916cd43dd8448eb211c80319c
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/session:
    post:
      tags: [sessions]
      operationId: createSession
      summary: Log in
      description: |
        Verifies an email and password and starts a session.

        Five consecutive wrong passwords for one address lock that account for
        fifteen minutes. A locked account is refused with 423 and a `Retry-After`
        header before the password is checked at all, so it cannot be probed; the
        rejected attempt does not extend the window. A successful login clears the
        count.

        An unknown address and a wrong password produce the same 401 body and take
        comparable time: the unknown-address path performs the same argon2id
        verification against a digest nothing can match. This is deliberate and is
        the reason a login endpoint does not enumerate accounts.

        Login does not accept an `Idempotency-Key`. A login is not safely
        repeatable — retrying it mints another session rather than returning the
        first one — so honouring the header would be a lie. See "Known gaps".

        **AN ACCOUNT WITH A SECOND FACTOR GETS 202 AND NO SESSION.** The password
        is correct and the authentication is not finished, which is what 202
        means. The `202` body carries **no `token` key at all** — not an empty
        one — so a client that reads `token` finds nothing and is unambiguous
        about it. The `challenge` in that body is the token for
        `POST /v1/session/mfa`, and it authenticates nothing until a code is
        presented against it.

        Five consecutive wrong CODES lock the second factor for fifteen minutes,
        with `423` and `Retry-After`, and that counter is **separate from the
        password's**: five TOTP guesses have not spent five password guesses, and
        five wrong passwords have not moved the second factor's.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              default:
                value:
                  email: kaka@example.com
                  password: correct horse battery staple
      responses:
        '200':
          description: |
            The credentials were correct and a session now exists. The same token
            is in the body and in the cookie.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Set-Cookie:
              description: The `__Host-session` cookie, or absent for a client that ignores cookies.
              schema:
                type: string
              example: '__Host-session=…; Path=/; Secure; HttpOnly; SameSite=Lax'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
              examples:
                default:
                  value:
                    token: 0dN3aQ2vF8kLmXpR7sT1uWzYb4cE6hJ9gK2mP5rS8tV
                    expires_at: '2026-10-30T12:00:00Z'
        '400':
          $ref: '#/components/responses/MalformedBody'
        '401':
          description: |
            The credentials were refused. The body is identical whether the
            address is unregistered or the password is wrong, and says nothing
            about which.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                refused:
                  value:
                    type: https://errors.cafaye.com/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: authentication is required to access this resource
                    instance: /v1/session
                    code: unauthorized
                    trace_id: 0af7651916cd43dd8448eb211c80319c
        '202':
          description: |
            The password was correct and this account has a second factor. **No
            session exists** and no session cookie is set.

            The `challenge` is a one-time credential for `POST /v1/session/mfa`,
            valid for ten minutes and single-use. It is also set as the
            `__Host-mfa-challenge` cookie, which is the browser's copy and carries
            the same value.

            There is no `token` field in this schema, and that is deliberate: a
            client that looks for one must handle its absence rather than treat an
            empty string as a value.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Set-Cookie:
              description: The `__Host-mfa-challenge` cookie. No `__Host-session` cookie is set.
              schema:
                type: string
              example: '__Host-mfa-challenge=...; Path=/; Secure; HttpOnly; SameSite=Lax'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAChallenge'
              examples:
                default:
                  value:
                    mfa_required: true
                    challenge: 1M3g7KhUlTycennyoeYRSwdey3Erdn2BfafBYTXpqxY
                    expires_at: '2026-09-30T12:10:00Z'
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: |
            The account is locked after too many consecutive failures. The
            `Retry-After` header and the `detail` both carry the remaining window
            in whole seconds, rounded up.

            The window is deliberately **not** an entry in `errors[]`: core scopes
            that array to 422 and to fields of the request, and `retry_after` is
            not one.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Retry-After:
              description: Seconds until the account may be tried again. Never negative.
              required: true
              schema:
                type: integer
                minimum: 0
              example: '900'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                locked:
                  value:
                    type: https://errors.cafaye.com/account_locked
                    title: Account locked
                    status: 423
                    detail: too many failed sign-in attempts for this account; retry after 900 seconds
                    instance: /v1/session
                    code: account_locked
                    trace_id: 0af7651916cd43dd8448eb211c80319c
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      tags: [sessions]
      operationId: deleteSession
      summary: Log out
      description: |
        Revokes the session the presented credential names, and clears the
        session cookie. The token stops working on both surfaces immediately: a
        `GET /v1/me` with the revoked token is a 401 on the cookie and on the
        bearer header alike.

        Other sessions for the same account are unaffected. "Sign out everywhere"
        is a different operation and is not in this packet.

        A token that resolves to nothing is a 401, and the cookie is cleared
        anyway. A stale cookie is the common case — the session expired hours ago
        and the browser kept it — and leaving it in place means the user clicks
        "sign out" again and nothing appears to happen.
      security:
        - sessionCookie: []
        - bearerToken: []
      responses:
        '204':
          description: The session was revoked and the cookie cleared.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Set-Cookie:
              description: An expired `__Host-session` cookie, with the same attributes that set it.
              schema:
                type: string
              example: '__Host-session=; Path=/; Secure; HttpOnly; SameSite=Lax; Max-Age=0'
        '401':
          description: No usable credential, or one that no longer resolves.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/session/mfa:
    post:
      tags: [mfa]
      operationId: completeSecondFactor
      summary: Answer a second factor and start the session
      description: |
        The second half of a login for an account with a second factor, and **the
        only route in this service that turns a second factor into a session**.

        The session is created inside the same transaction that consumes the
        challenge, so a challenge cannot be answered twice and a code cannot buy two
        sessions.

        **The challenge is accepted in the cookie or in the body**, and both are
        supported on purpose: cafaye's conventions say "no cookies for API traffic",
        and `POST /v1/session` returns the session token in the body as well as in
        the cookie precisely so a non-browser client has a way in. The explicit body
        value wins when both are present, for the reason `GET /v1/me` prefers the
        `Authorization` header over the cookie.

        A code is accepted within **one step either side** of the current one, so a
        TOTP code is live for 90 seconds rather than 30. Zero skew would refuse any
        code typed near a step boundary, which is when a user is most likely to be
        reading digits off a screen, and a second factor with a visible failure rate
        gets turned off rather than retried. Two steps or more would be ninety more
        seconds during which a phished code still works.

        **A code cannot be accepted twice.** Replay is the standard attack against
        TOTP, and this service records the exact steps consumed: a code already used
        is refused for the whole window, and refusing it costs nothing to the user
        beyond the next 30-second period.

        Five consecutive wrong codes lock the second factor for fifteen minutes, and
        that counter is **separate from the password's**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteSecondFactorRequest'
            examples:
              totp:
                value:
                  challenge: 0aO1B_UdLdgx40iTjWfNXQR0naZbS9BiM-4f50PkXR0
                  code: '482913'
              recovery:
                value:
                  challenge: 0aO1B_UdLdgx40iTjWfNXQR0naZbS9BiM-4f50PkXR0
                  code: 7KQF-4W2X-5DTR-M3HN
      responses:
        '200':
          description: |
            The second factor was accepted and a session now exists. The same token
            is in the body and in the cookie, and the challenge cookie is cleared.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Set-Cookie:
              description: The `__Host-session` cookie, and the `__Host-mfa-challenge` cookie cleared.
              schema:
                type: string
              example: '__Host-session=...; Path=/; Secure; HttpOnly; SameSite=Lax'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/MalformedBody'
        '401':
          description: |
            The factor was refused, or no challenge was presented. The body is the
            same for a wrong code, a recovery code that was already spent, a TOTP
            code whose step has been used, and a value that is neither shape: five
            different facts, and an attacker who can tell them apart learns which to
            keep trying.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: |
            The second factor is locked after too many consecutive failures. The
            `Retry-After` header carries the remaining window in whole seconds.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Retry-After:
              description: Seconds until the second factor may be tried again.
              required: true
              schema:
                type: integer
                minimum: 0
              example: '900'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: |
            This deployment cannot verify a second factor, because
            `MFA_ENCRYPTION_KEY` is not configured. It is a 503 and not a 404 on
            purpose: a 404 would say the service has never heard of MFA, and a
            client that believed that would be free to treat the absence of a
            challenge as the absence of a requirement.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /v1/mfa:
    get:
      tags: [mfa]
      operationId: getMFAStatus
      summary: Whether the caller has a second factor
      description: |
        Returns whether this account has a confirmed second factor, when it was
        enrolled, and how many recovery codes are left.

        `recovery_codes_remaining` is here so a client can say "2 left — print a new
        set" while there are still two. A user with zero recovery codes and a lost
        phone is a support ticket, and the honest thing is to say so beforehand.

        A `200` with `{"enabled": false}` and **not** a 404 when there is no
        credential: the question has an answer for every signed-in user, and a
        settings page should not have to distinguish "you have none" from "this is
        not your account".
      security:
        - sessionCookie: []
        - bearerToken: []
      responses:
        '200':
          description: The caller's second-factor status.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAStatus'
              examples:
                enabled:
                  value:
                    enabled: true
                    method: totp
                    enrolled_at: '2026-09-30T12:04:11Z'
                    recovery_codes_remaining: 8
                notEnabled:
                  value:
                    enabled: false
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      tags: [mfa]
      operationId: disableMFA
      summary: Turn the second factor off
      description: |
        Requires a second factor, and a password is **not** accepted: there is no
        route to this operation without one. Re-authentication for a destructive
        security action is the whole reason it exists, and a user whose phone is
        elsewhere must use a recovery code — which is why recovery codes exist.

        Revokes **every session the user holds**, and emits `identity.mfa.disabled`.
        A user who turns MFA off has very often had it turned off *for* them, and
        every session in existence was minted under a two-factor policy.

        The caller's own session is revoked by this call, so a browser is left
        signed out. That is the honest outcome rather than an exception.
      security:
        - sessionCookie: []
        - bearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorRequest'
            examples:
              totp:
                value:
                  code: '482913'
              recovery:
                value:
                  code: 7KQF-4W2X-5DTR-M3HN
      responses:
        '204':
          description: MFA is off, every session is revoked, and the cookie is cleared.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Set-Cookie:
              description: The `__Host-session` cookie, cleared.
              schema:
                type: string
              example: '__Host-session=; Path=/; Secure; HttpOnly; SameSite=Lax; Max-Age=0'
        '400':
          $ref: '#/components/responses/MalformedBody'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '409':
          description: |
            This account has no second factor, so there was nothing to turn off.
            A 409 rather than a 404: the caller is asking to change something that
            does not exist, which is a different question from "is this yours".
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: The second factor is locked after too many consecutive failures.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Retry-After:
              description: Seconds until the second factor may be tried again.
              required: true
              schema:
                type: integer
                minimum: 0
              example: '900'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/mfa/enrollments:
    post:
      tags: [mfa]
      operationId: startMFAEnrollment
      summary: Generate a TOTP secret
      description: |
        Generates a secret with `crypto/rand`, stores it **unconfirmed**, and returns
        it once with its `otpauth://` provisioning URI.

        `secret` and `provisioning_uri` are returned here and **never again**: there
        is no endpoint that re-reads them, so a client that loses this response
        starts a new enrollment, which mints a new secret. The reasoning is the one
        an OIDC `client_secret` follows: a secret this service can produce again is a
        secret this service is storing, and a stored TOTP secret is a second factor
        for whoever reads the database.

        **A pending enrollment is not MFA.** It expires in ten minutes, the login
        path reads only confirmed rows, and no session is issued until
        `/confirm`. A stored-but-never-confirmed secret is exactly the state that
        locks somebody out of their own account.

        On an account that **already** has a credential this starts a **rotation**,
        and `code` is then required. The existing secret stays live until the
        replacement is confirmed, so an abandoned rotation costs nothing; on
        confirmation the old credential is deleted, which is how its codes stop being
        accepted.
      security:
        - sessionCookie: []
        - bearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartEnrollmentRequest'
      responses:
        '201':
          description: A pending enrollment, and its one-time values.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartedEnrollment'
        '400':
          $ref: '#/components/responses/MalformedBody'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: The second factor is locked, so a rotation cannot be authorised.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Retry-After:
              description: Seconds until the second factor may be tried again.
              required: true
              schema:
                type: integer
                minimum: 0
              example: '900'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/mfa/enrollments/{enrollmentId}/confirm:
    post:
      tags: [mfa]
      operationId: confirmMFAEnrollment
      summary: Prove you can produce a code, and make MFA live
      description: |
        Verifies a code against the pending secret and, on success, makes MFA live in
        one transaction: confirm the pending row, delete the credential it replaced
        if any, write ten recovery codes, revoke every session the user holds, and
        announce `identity.mfa.enabled`.

        **Every session is revoked, including the caller's own.** A session minted
        under a one-factor policy was minted on a password alone, and leaving it
        alive means the attacker holding it does not have to solve the new problem.

        The recovery codes are returned here and **never again** — no endpoint
        re-reads them and no column stores them, only a SHA-256 digest per code.
      security:
        - sessionCookie: []
        - bearerToken: []
      parameters:
        - name: enrollmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: |
            The pending enrollment's own id. Another user's, an expired one's, and
            one that has already been confirmed are all `404`, so the id is not a
            way to learn which enrollments exist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmEnrollmentRequest'
      responses:
        '200':
          description: MFA is live, and the recovery codes are returned once.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmedEnrollment'
        '400':
          $ref: '#/components/responses/MalformedBody'
        '401':
          description: |
            The code was refused. One sentence for every way it can fail: wrong,
            already spent, malformed, or produced by a secret this rotation has
            already replaced.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/mfa/recovery-codes:
    post:
      tags: [mfa]
      operationId: regenerateMFARecoveryCodes
      summary: Issue a new set of recovery codes
      description: |
        Deletes the old set and writes the new one **in one transaction**, and
        requires a second factor: handing out ten fresh codes is handing out ten
        fresh ways into the account.

        The atomicity is the requirement. A partial write leaves a user with two
        live sets, which is a second recovery path through codes nobody audited and
        nobody will ever see in a log.
      security:
        - sessionCookie: []
        - bearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FactorRequest'
      responses:
        '200':
          description: A new set, returned once, and the count that replaced the old one.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryCodesResponse'
        '400':
          $ref: '#/components/responses/MalformedBody'
        '401':
          description: |
            The factor was refused, or this account has no second factor.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: This account has no second factor, so there are no codes to replace.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '413':
          $ref: '#/components/responses/BodyTooLarge'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '423':
          description: The second factor is locked after too many consecutive failures.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
            Retry-After:
              description: Seconds until the second factor may be tried again.
              required: true
              schema:
                type: integer
                minimum: 0
              example: '900'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/me:
    get:
      tags: [sessions]
      operationId: getCurrentUser
      summary: The authenticated user
      description: |
        Resolves the presented credential and returns the account it belongs to.

        A cookie and a bearer token are both accepted. When both are present the
        `Authorization` header wins: a client holding both has said which it means,
        and answering from the cookie would make the result depend on invisible
        browser state.

        A missing, unknown, expired or revoked token are one 401 with one body. So
        is a token whose account has been deleted.
      security:
        - sessionCookie: []
        - bearerToken: []
      responses:
        '200':
          description: The authenticated user.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                default:
                  value:
                    id: ab000000-0000-0000-0000-000000000000
                    email: kaka@example.com
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/accounts/{account_id}/oidc-clients:
    parameters:
      - $ref: '#/components/parameters/AccountId'
    post:
      tags: [oidc-clients]
      operationId: registerOIDCClient
      summary: Register an OpenID Connect client
      description: |
        Registers a relying party: the credential a product presents at the token
        endpoint when it runs an authorization-code flow against this service.

        **Owner only.** Adding a client is adding a new way for code to arrive in
        this product and get a token back out, so a member of the account is 403
        and a non-member is 404.

        `client_id` and `client_secret` are minted here and returned here, and
        `client_secret` is returned **once**. It is never stored — only its
        SHA-256 is — and there is no endpoint that re-reads it. A caller that
        loses it registers again, which is the rule a session token, an
        invitation token and a password already follow.

        `redirect_uris` is matched EXACTLY. No prefix, no glob, no pattern of
        any kind: `https://app.example.com.evil.com/cb` is not a match for a
        registered `https://app.example.com/cb`, and a prefix comparison would
        make this service an open redirector for every product registered here.
        Plain `http` is accepted only on loopback, so a product can develop
        against a local stack without the registration ever accepting a
        plain-http origin.

        `scopes` is intersected with what this provider implements
        (`openid email profile accounts`) and must include `openid`. `grant_types`
        must be `authorization_code`: this service issues no refresh token, has
        no service identity for client credentials, and has no consent screen for
        an implicit flow, so registering any of them is refused at 422 with the
        field named rather than discovered at 3am.
      security:
        - sessionCookie: []
        - bearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterOIDCClientRequest'
            example:
              name: Anytalk
              redirect_uris: ['https://app.anytalk.com/callback']
              grant_types: [authorization_code]
              scopes: [openid, email, profile, accounts]
      responses:
        '201':
          description: The registration, and its secret.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisteredOIDCClient'
              example:
                id: ab000000-0000-0000-0000-000000000001
                client_id: 8Jm1xQ0pQz7rV2nK4wL9cT6bY3hA5sD0fG1eI2jK
                client_secret: 5rT2wQ9zX1cV4bN6mK8jH0dF3gL5pS7aY9uE1iO
                name: Anytalk
                redirect_uris: ['https://app.anytalk.com/callback']
                grant_types: [authorization_code]
                scopes: [accounts, email, openid, profile]
                created_at: '2026-09-30T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags: [oidc-clients]
      operationId: listOIDCClients
      summary: List an account's OpenID Connect clients
      description: |
        Every registration this account owns, newest first. An account with none
        answers `[]` and not `null`.

        A bare array rather than core's `data` + `page` wrapper, and the omission
        is deliberate: this list is a handful of rows, and a cursor over four of
        them is a wrapper a client has to unwrap to render a settings page. The
        first account that wants a hundred products gets the wrapper then.
      security:
        - sessionCookie: []
        - bearerToken: []
      responses:
        '200':
          description: The account's registrations.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OIDCClient'
              example:
                - id: ab000000-0000-0000-0000-000000000001
                  client_id: 8Jm1xQ0pQz7rV2nK4wL9cT6bY3hA5sD0fG1eI2jK
                  name: Anytalk
                  redirect_uris: ['https://app.anytalk.com/callback']
                  grant_types: [authorization_code]
                  scopes: [accounts, email, openid, profile]
                  created_at: '2026-09-30T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/accounts/{account_id}/oidc-clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: client_id
        in: path
        required: true
        description: |
          The registration's row id — not the `client_id` the product presents.
          The row id is what the revocation event's `subject` is, and what the
          other three routes name.
        schema:
          type: string
          format: uuid
    get:
      tags: [oidc-clients]
      operationId: getOIDCClient
      summary: Read an OpenID Connect client
      description: |
        One registration. `client_secret` and the stored digest are both absent
        and will stay absent: the secret exists once, in the 201.
      security:
        - sessionCookie: []
        - bearerToken: []
      responses:
        '200':
          description: The registration.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCClient'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [oidc-clients]
      operationId: revokeOIDCClient
      summary: Revoke an OpenID Connect client
      description: |
        Stops honouring the registration. The row is kept rather than deleted — an
        audit of which credentials existed is worth more than a tidier table, and
        `revoked_at` is what makes the difference readable afterwards.

        The revocation is real rather than advisory: every access token issued
        against this registration is revoked in the same transaction, because a
        token is a signed JWT that a verifier on the edge will keep accepting
        until its `exp` and revoking the registration does not by itself stop one.
        A token minted before the revocation therefore fails at userinfo
        immediately, not fifteen minutes later.

        204 rather than the revoked row, matching every other `DELETE` in this
        service. The `identity.oidc_client.revoked` event is where a consumer
        learns what happened.
      security:
        - sessionCookie: []
        - bearerToken: []
      responses:
        '204':
          description: The registration is revoked. No body.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            The registration is already revoked. A 204 either way would leave an
            operator who clicked twice believing they had just destroyed a second
            credential.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          $ref: '#/components/responses/InternalError'

  /healthz:
    get:
      tags: [probes]
      operationId: liveness
      summary: Liveness
      description: |
        Answers whether this process is running. It never touches a dependency, so
        a database outage cannot get the process restarted out from under
        in-flight work.
      security: []
      responses:
        '200':
          description: The process is running.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
              example:
                status: ok

  /readyz:
    get:
      tags: [probes]
      operationId: readiness
      summary: Readiness
      description: |
        Answers whether this process can serve traffic, by probing each named
        dependency. `deps` lists what was probed, `"none"` when there is nothing to
        probe.

        A failing dependency is named but not described: the underlying error goes
        to the log, because an unauthenticated request must not be a way to learn
        that a database host is at a particular address.
      security: []
      responses:
        '200':
          description: Every dependency answered.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
              examples:
                withDatabase:
                  value:
                    status: ok
                    deps: postgres
                withoutDatabase:
                  value:
                    status: ok
                    deps: none
        '503':
          description: |
            At least one dependency did not answer.

            This is the one non-2xx response in the service that is not a problem
            document, and it is a known conflict rather than an oversight. See
            "Known gaps", item 4.
          headers:
            X-Trace-Id:
              $ref: '#/components/headers/TraceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
              example:
                status: unavailable
                deps: postgres

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-session
      description: |
        The browser surface. A `__Host-` cookie is accepted by the browser only
        when it is `Secure`, has `Path=/` and carries no `Domain`, which is what
        binds it to this origin and stops a sibling origin from setting it.

        This is the "different surface" core's auth section describes, not an
        exception to "no cookies for API traffic".
    bearerToken:
      type: http
      scheme: bearer
      description: |
        The API surface. A session token from `POST /v1/session`, presented as
        `Authorization: Bearer <token>`.

        Not a JWT, and deliberately so: core's conventions describe JWTs for
        *service-to-service* traffic verified against identity's JWKS. These are
        opaque server-side session tokens, looked up by the SHA-256 of the
        presented value. Revocation is a row delete and takes effect on the next
        request, which a self-contained JWT cannot do. The OIDC provider, and the
        JWTs core describes, arrive with the OIDC packet.

  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: |
        The account. A caller who is not a member of it gets 404 and never 403,
        because a 403 would confirm the account exists to somebody guessing ids.
      schema:
        type: string
        format: uuid

  headers:
    TraceId:
      description: |
        Correlates this response with the service's logs. Always present, and
        always equal to the `trace_id` in a problem body. An inbound value is
        reused when it is a well-formed identifier and replaced otherwise, so a
        trace survives a proxy hop without letting a caller forge a header.
      required: true
      schema:
        type: string
        maxLength: 200
      example: 0af7651916cd43dd8448eb211c80319c

  schemas:
    User:
      type: object
      description: |
        The public projection of an account. Exactly two fields, always: there is
        no password digest, no lockout state and no timestamp here, and adding one
        is a contract change.
      additionalProperties: false
      required: [id, email]
      properties:
        id:
          type: string
          format: uuid
          description: The account's identifier, and the `subject` of its events.
        email:
          type: string
          format: email
          maxLength: 320
          description: Always lower case. Registration normalizes before storing.

    RegisterRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
          description: Normalized to lower case and trimmed before storage and before comparison.
        password:
          type: string
          minLength: 8
          maxLength: 1024
          description: |
            At least 8 characters, hashed with argon2id. There is no composition
            rule: requiring a mix of character classes reliably produces
            "Password1!" and reliably rejects passphrases, and length is the
            property that tracks entropy.

            The upper bound is a DoS control, not a policy. argon2id's cost is
            fixed in memory but its input is not, so without it an unauthenticated
            caller chooses the size of every login's hashing work.

    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        password:
          type: string
          minLength: 1
          maxLength: 1024
          description: |
            The minimum length is 1 here, not 8. A login is not a registration:
            refusing to check a short password would be a way to learn which
            passwords are in use, and an account may predate any rule. The upper
            bound still applies, because it bounds the hashing work.

    Session:
      type: object
      additionalProperties: false
      required: [token, expires_at]
      properties:
        token:
          type: string
          description: |
            256 bits from crypto/rand, base64url without padding. Only its
            SHA-256 is stored; a database dump yields no usable credential.
          minLength: 43
          maxLength: 43
        expires_at:
          type: string
          format: date-time
          description: RFC3339 UTC. Judged against the service's clock, not the database's.

    OIDCClient:
      type: object
      description: |
        One OpenID Connect registration. `client_secret` and `secret_digest` are
        both absent and always will be: the secret exists once, in the 201, and
        the digest is what the row holds.
      additionalProperties: false
      required: [id, client_id, name, redirect_uris, grant_types, scopes, created_at]
      properties:
        id:
          type: string
          format: uuid
          description: |
            The row's identifier, and the `subject` of its events. NOT the
            `client_id` the product presents — those are different values and
            conflating them is how a consumer ends up correlating on something it
            cannot look up.
        client_id:
          type: string
          minLength: 43
          maxLength: 43
          description: |
            The public, protocol-visible handle: 32 random bytes, base64url without
            padding. Unguessable rather than merely unique, because it is half of
            the credential pair on the token endpoint.
        name:
          type: string
          minLength: 1
          maxLength: 120
          description: |
            What the login page calls the product. Required, because a login page
            that cannot name the application asking for a password is the setup
            for a credential-phishing page on this service's own domain.
        redirect_uris:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            format: uri
          description: |
            The allow-list, matched EXACTLY. No prefix, no glob, no pattern. A
            registered URI may be `https`, or `http` on loopback only; a fragment
            and a wildcard are both refused. Sorted, and deduplicated.
        grant_types:
          type: array
          minItems: 1
          items:
            type: string
            enum: [authorization_code]
          description: |
            Always `authorization_code` today. This service issues no refresh
            token, has no service identity for client credentials, and has no
            consent screen for an implicit flow.
        scopes:
          type: array
          minItems: 1
          items:
            type: string
            enum: [openid, email, profile, accounts]
          description: |
            A subset of what this provider implements, intersected with what the
            provider supports, and always including `openid`. A client that did
            not register a scope cannot be granted it by asking at the authorize
            endpoint.
        created_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
          description: |
            Absent while the registration is live. A revoked registration is kept
            rather than deleted, and this is what makes the difference readable
            afterwards.

    RegisteredOIDCClient:
      allOf:
        - $ref: '#/components/schemas/OIDCClient'
        - type: object
          additionalProperties: false
          required: [client_secret]
          properties:
            client_secret:
              type: string
              minLength: 43
              maxLength: 43
              description: |
                32 random bytes, base64url, returned in this 201 and never again.
                Only its SHA-256 is stored, so a dump of the registrations table is
                not a set of credentials. Losing it means registering again.

    RegisterOIDCClientRequest:
      type: object
      additionalProperties: false
      required: [name, redirect_uris, grant_types, scopes]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        redirect_uris:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            format: uri
        grant_types:
          type: array
          minItems: 1
          items:
            type: string
            enum: [authorization_code]
        scopes:
          type: array
          minItems: 1
          items:
            type: string
            enum: [openid, email, profile, accounts]
          description: |
            Names outside this set are DROPPED rather than refused, and this is the
            one place that is true: a product registering itself asks for what it
            would like and the operator curates what it gets. The authorization
            endpoint, where a caller asks for a token right now, refuses.

    # -----------------------------------------------------------------------
    # the second factor
    #
    # The three that matter most are read in this order: MFAChallenge is what a
    # login hands back instead of a session, FactorRequest is the one field every
    # destructive second-factor route carries, and StartedEnrollment is the only
    # place a TOTP secret ever appears.
    # -----------------------------------------------------------------------

    MFAChallenge:
      type: object
      description: |
        The 202 from `POST /v1/session`: a correct password, an unfinished
        authentication, and nothing else.

        There is no `token` property here and adding one would be the bug this
        document exists to prevent. The `challenge` is what `POST /v1/session/mfa`
        is answered with, and it is worthless on its own.
      additionalProperties: false
      required: [mfa_required, challenge, expires_at]
      properties:
        mfa_required:
          type: boolean
          description: |
            Always `true` in this body. It is here so a client that keys off a
            field rather than the status code has one to key off, and a client
            that keys off the 202 does not need to read it.
        challenge:
          type: string
          minLength: 43
          maxLength: 43
          description: |
            256 bits from crypto/rand, base64url without padding, presented to
            `POST /v1/session/mfa` as `challenge` or as the
            `__Host-mfa-challenge` cookie. Single-use and short-lived: the
            challenge row is deleted in the same transaction that creates the
            session, so it cannot be answered twice.

            Only its SHA-256 is stored, so a database dump yields no usable
            challenge.
        expires_at:
          type: string
          format: date-time
          description: |
            Ten minutes, judged against the service's clock. Shorter than the
            fifteen-minute factor lockout, deliberately: a lockout outlives its
            own challenge, so a user who trips it can answer a fresh code against
            a fresh challenge as soon as the window ends rather than waiting for
            the stuck challenge to expire.

    MFAStatus:
      type: object
      description: |
        Whether the caller has a second factor.

        A `200` with `enabled: false`, not a 404, when there is none: the question
        has an answer for every signed-in user, and a settings page should not
        have to distinguish "you have none" from "this is not your account".
      additionalProperties: false
      required: [enabled]
      properties:
        enabled:
          type: boolean
        method:
          type: string
          enum: [totp]
          description: |
            Absent when `enabled` is false. `"totp"` and "no method yet" are
            different answers, which is why this is `omitempty` rather than an
            empty string.
        enrolled_at:
          type: string
          format: date-time
          description: When the credential was confirmed. Absent when `enabled` is false.
        recovery_codes_remaining:
          type: integer
          minimum: 0
          description: |
            How many unused recovery codes are left. Absent when `enabled` is
            false.

            It is here so a client can say "2 left — print a new set" while there
            are still two. A user with zero codes and a lost phone is a support
            ticket, and the honest thing is to say so beforehand.

    FactorRequest:
      type: object
      description: |
        The body of every route that changes or relies on an existing second
        factor.

        **One field, not `code` and `recovery_code`.** The consequence of getting
        this wrong is identical either way, and two fields would let a client put
        a recovery code in the TOTP field and be told the code was malformed rather
        than not accepted, which is a worse error to act on. This service decides
        which shape it is and then answers the same way for both.
      additionalProperties: false
      required: [code]
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: |
            A six-digit TOTP code, or a recovery code in the form
            `XXXX-XXXX-XXXX-XXXX`. Surrounding whitespace is ignored; nothing else
            is.

            A code is not echoed back in any response, and never appears in a log
            line or a problem body.

    CompleteSecondFactorRequest:
      type: object
      description: |
        The second half of a login. `challenge` is optional here and required in
        effect — omitting it entirely, with no challenge cookie either, is a 401.
      additionalProperties: false
      required: [code]
      properties:
        challenge:
          type: string
          minLength: 1
          maxLength: 256
          description: |
            The challenge from the 202. **Optional, because the
            `__Host-mfa-challenge` cookie is accepted instead** — the cookie is the
            browser's route and this field is the API client's, exactly as
            `POST /v1/session` returns the session token in the body as well as in
            the cookie so a non-browser client has a way in.

            When both are present the body wins. A client holding both has said
            which one it means, and answering from ambient browser state would
            make the result depend on invisible cookies.
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: A six-digit TOTP code, or a recovery code. Same shapes as `FactorRequest.code`.

    StartEnrollmentRequest:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: |
            Required **only** when this account already has a credential, where
            the request is a rotation.

            The service decides which case it is from the rows, so sending a code
            for a first enrollment is not wrong, only redundant — which is why
            this is optional in the schema and required in prose. Refusing the
            redundant one would be a 422 that teaches a client nothing.

    StartedEnrollment:
      type: object
      description: |
        A pending TOTP enrollment, and the only response in this document that
        contains a TOTP secret.

        **The secret is here and nowhere else.** There is no endpoint that
        re-reads it, so a client that loses this body starts a new enrollment,
        which mints a new secret. The reasoning is the one an OIDC
        `client_secret` follows: a secret this service can produce again is a
        secret this service is storing, and a stored TOTP secret is a second
        factor for whoever reads the database.

        Nothing here is a session, and nothing here is MFA. A pending enrollment
        is unread by the login path, so until `/confirm` is called this account
        has no second factor.
      additionalProperties: false
      required: [enrollment_id, secret, provisioning_uri, method, digits, period_seconds, algorithm, expires_at, replaced]
      properties:
        enrollment_id:
          type: string
          format: uuid
          description: |
            The id to confirm. It is the pending row's own id, and another user's,
            an expired one's and an already-confirmed one's are all 404 — so it is
            not a way to learn which enrollments exist.
        secret:
          type: string
          description: |
            base32, no padding, 160 bits from crypto/rand. The shared secret for
            `HMAC-SHA1`, and the half of the factor the phone holds.

            Stored **encrypted**, not hashed: verifying a code means computing an
            HMAC with this value, so a hash would be useless. At rest it is
            AES-256-GCM ciphertext under `MFA_ENCRYPTION_KEY`, with the user's id
            as additional authenticated data.
        provisioning_uri:
          type: string
          format: uri
          description: |
            An `otpauth://totp/…` URI, which is what a QR code encodes. Contains
            `secret`, so it is not shareable and not cacheable.
        method:
          type: string
          enum: [totp]
        digits:
          type: integer
          enum: [6]
          description: The code length. Fixed, and 6 because that is what authenticator apps display.
        period_seconds:
          type: integer
          enum: [30]
          description: |
            The step, 30 seconds. Returned rather than assumed so a client can
            render a countdown without hard-coding it.
        algorithm:
          type: string
          enum: [SHA1]
          description: |
            `SHA1`, and not a preference: it is the only HMAC every authenticator
            app implements. A user whose app rejected SHA1 has no app.
        expires_at:
          type: string
          format: date-time
          description: |
            Ten minutes. An unconfirmed enrollment is deleted after this, because
            a stored-but-never-confirmed secret is exactly the state that locks
            somebody out of their own account.
        replaced:
          type: boolean
          description: |
            `true` when this enrollment is replacing an existing credential.

            The old secret is **still live** until this one is confirmed, so an
            abandoned rotation costs nothing and the user is not left with a dead
            phone. `replaced` is what lets a client say so out loud rather than
            leave them to discover it.

    ConfirmEnrollmentRequest:
      type: object
      additionalProperties: false
      required: [code]
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 64
          description: |
            A six-digit code computed from this enrollment's `secret`.

            Required always, and an absent one is the only 422 on this surface:
            the code is required rather than wrong, and telling those apart saves
            a user staring at a six-digit box wondering what they did.

            Wrong, already spent, malformed, and produced by a secret this
            rotation has already replaced are all the same 401. They are four
            different facts and a client that can tell them apart learns which to
            keep trying.

    ConfirmedEnrollment:
      type: object
      description: |
        MFA is live, and here are the recovery codes, once.

        **Every session this account holds was revoked to produce this response**,
        including the caller's. A session minted under a one-factor policy was
        minted on a password alone, and leaving it alive means whoever holds it
        does not have to solve the new problem.

        The response is therefore `200` and not `204`: there is real content, and
        that content exists exactly once.
      additionalProperties: false
      required: [enabled, method, enrolled_at, recovery_codes, replaced_existing_secret]
      properties:
        enabled:
          type: boolean
          enum: [true]
        method:
          type: string
          enum: [totp]
        enrolled_at:
          type: string
          format: date-time
        recovery_codes:
          type: array
          minItems: 10
          maxItems: 10
          items:
            type: string
            pattern: '^[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{4}$'
          description: |
            Ten codes, 80 bits each, and **never readable again**: no endpoint
            re-reads them and no column stores them, only a SHA-256 digest per
            code. Each is accepted exactly once and is destroyed by use.

            80 bits is a floor, not a style choice. A six-digit TOTP code is 20
            bits and is only safe because it changes every 30 seconds and cannot
            be retried; a recovery code does not change, so a short one would be
            guessable at leisure.
        replaced_existing_secret:
          type: boolean
          description: |
            `true` when this confirmation replaced a credential. The old one is
            deleted by this call, which is what makes its codes stop being
            accepted — the old phone stops working at the moment of confirmation,
            not at the moment the rotation started.

    RecoveryCodesResponse:
      type: object
      description: |
        A fresh set of recovery codes. The old set is destroyed by this call, in
        the same transaction that writes the new one.

        A partial write would leave a user with two live sets, which is a second
        recovery path through codes nobody audited and nobody will ever see in a
        log. That is the requirement this route exists to satisfy.
      additionalProperties: false
      required: [recovery_codes, issued_at, recovery_codes_remaining]
      properties:
        recovery_codes:
          type: array
          minItems: 10
          maxItems: 10
          items:
            type: string
            pattern: '^[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{4}-[0-9A-Z]{4}$'
          description: |
            The new set, returned once and never again. Same 80-bit value as
            `ConfirmedEnrollment.recovery_codes`, and the same one-shot guarantee.
        issued_at:
          type: string
          format: date-time
        recovery_codes_remaining:
          type: integer
          enum: [10]
          description: |
            Always 10. It is the count of the set just issued rather than a read
            back from storage, because a client rendering "you now have N codes"
            wants N and not a round trip to learn it.

    Problem:
      type: object
      description: |
        The cafaye error envelope: RFC 9457 plus core's `code` and `trace_id`.
        Every non-2xx response from this service is this shape. No service invents
        its own error body.
      required: [type, title, status, detail, instance, code, trace_id]
      properties:
        type:
          type: string
          format: uri
          description: 'A stable `https://errors.cafaye.com/<code>` URI — the machine-readable contract.'
          example: https://errors.cafaye.com/validation_failed
        title:
          type: string
          description: A fixed human-readable summary for the code. May be reworded without a version bump.
        status:
          type: integer
          description: The HTTP status, repeated in the body.
        detail:
          type: string
          description: |
            Specific to this occurrence and not parsed by clients. Never contains
            an internal error, a host, a role or a query fragment: those go to the
            log under the same `trace_id`.
        instance:
          type: string
          description: The request path. Never includes the query string, which can carry an address.
        code:
          type: string
          description: The last segment of `type`, in snake_case.
          enum:
            - unauthorized
            - forbidden
            - not_found
            - conflict
            - validation_failed
            - rate_limited
            - idempotency_key_reused
            - internal
            - unavailable
            # This service's extensions to core's reserved list. core owns the
            # list; each of these is a case it does not currently describe.
            # See "Known gaps".
            - account_locked
            - method_not_allowed
            - invalid_json
            - payload_too_large
            - service_unavailable
        trace_id:
          type: string
          description: Always present, always equal to the `X-Trace-Id` response header.
        errors:
          type: array
          description: Per-field failures. Present only on 422.
          items:
            $ref: '#/components/schemas/FieldError'

    FieldError:
      type: object
      additionalProperties: false
      required: [field, code]
      properties:
        field:
          type: string
          description: The request field that failed.
        code:
          type: string
          description: |
            A stable slug, safe to switch on. `required`, `invalid_format`,
            `too_short`, `too_long`.
          example: too_short

    Health:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, unavailable]
        deps:
          type: string
          description: The dependencies probed, comma separated, or `none`. Present on `/readyz` only.

  responses:
    Unauthenticated:
      description: |
        No usable credential: none was presented, or it is unknown, expired or
        revoked. One body for all four.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/unauthorized
            title: Unauthorized
            status: 401
            detail: authentication is required to access this resource
            instance: /v1/me
            code: unauthorized
            trace_id: 0af7651916cd43dd8448eb211c80319c

    Forbidden:
      description: |
        The caller can see the resource and may not act on it. The route's minimum
        role is higher than theirs.

        Never used for "you are not a member of this account" — that is 404, so
        the response cannot confirm that an account id somebody guessed is real.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/forbidden
            title: Forbidden
            status: 403
            detail: your role in this account does not permit this action
            instance: /v1/accounts/ab000000-0000-0000-0000-000000000000/oidc-clients
            code: forbidden
            trace_id: 0af7651916cd43dd8448eb211c80319c

    NotFound:
      description: |
        No such resource, or one this caller may not know about. One status and
        one sentence for both, because a 403 for "not a member" would confirm the
        account exists to somebody guessing ids.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/not_found
            title: Not found
            status: 404
            detail: no such OIDC client is visible to you
            instance: /v1/accounts/ab000000-0000-0000-0000-000000000000/oidc-clients/cd000000-0000-0000-0000-000000000000
            code: not_found
            trace_id: 0af7651916cd43dd8448eb211c80319c

    ValidationFailed:
      description: The request was understood and is not acceptable. `errors[]` names the fields.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            passwordTooShort:
              summary: the password is under the minimum
              value:
                type: https://errors.cafaye.com/validation_failed
                title: Validation failed
                status: 422
                detail: the request has an invalid field
                instance: /v1/users
                code: validation_failed
                trace_id: 0af7651916cd43dd8448eb211c80319c
                errors:
                  - field: password
                    code: too_short
            unknownField:
              summary: the body has a field the endpoint does not accept
              value:
                type: https://errors.cafaye.com/validation_failed
                title: Validation failed
                status: 422
                detail: the request body has a field this endpoint does not accept
                instance: /v1/users
                code: validation_failed
                trace_id: 0af7651916cd43dd8448eb211c80319c

    MalformedBody:
      description: The body is not a JSON object this endpoint accepts.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/invalid_json
            title: Malformed request body
            status: 400
            detail: the request body is not a JSON object this endpoint accepts
            instance: /v1/users
            code: invalid_json
            trace_id: 0af7651916cd43dd8448eb211c80319c

    BodyTooLarge:
      description: The body is larger than the 4096 bytes this endpoint accepts.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/payload_too_large
            title: Request body too large
            status: 413
            detail: the request body is larger than the 4096 bytes this endpoint accepts
            instance: /v1/users
            code: payload_too_large
            trace_id: 0af7651916cd43dd8448eb211c80319c

    InternalError:
      description: |
        The request could not be completed. The cause is in the service's log
        under the returned `trace_id` and is never in the response.
      headers:
        X-Trace-Id:
          $ref: '#/components/headers/TraceId'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://errors.cafaye.com/internal
            title: Internal server error
            status: 500
            detail: the request could not be completed. Quote the trace id when reporting this.
            instance: /v1/users
            code: internal
            trace_id: 0af7651916cd43dd8448eb211c80319c

# ---------------------------------------------------------------------------
# Known gaps — departures from cafaye/core docs/openapi-conventions.md
#
# Each is a manager decision, not a local choice, and each is recorded here so it
# cannot be discovered by a consumer instead of by a reviewer.
#
# 1. `Idempotency-Key` is not accepted on POST /v1/users.
#
#    Core's checklist says every safely-retryable mutating POST must accept it.
#    Registration is safely retryable — a client that never saw the 201 should be
#    able to try again — so this endpoint owes the header.
#
#    Not implemented here because it needs its own retention table, a request-body
#    hash, the `(endpoint, principal, key)` scoping and the replay-versus-reuse
#    409, and a half-built version that accepts the header and ignores it is worse
#    than one that does not claim it. It is the first thing to add to this surface.
#
#    POST /v1/session is a deliberate exception and always will be: a login is not
#    safely repeatable, since retrying it mints a second session rather than
#    returning the first.
#
# 2. Four error codes are not in core's reserved list.
#
#    `account_locked` (423) is required by the brute-force lockout this packet
#    specifies, and core's list has no entry for a locked account. `invalid_json`
#    (400) and `payload_too_large` (413) are the honest answers for a
#    syntactically broken and an oversized body; folding them into
#    `validation_failed` would have reported both as semantic failures, and 400
#    for malformed syntax is exactly what core's own status conventions reserve.
#
#    `service_unavailable` (503) is the newest and the narrowest. It appears on
#    exactly one condition: `MFA_ENCRYPTION_KEY` is not configured, so the login's
#    second step exists, is reached, and cannot verify a code. It is a 503 and not
#    a 404 on purpose — a 404 would say this service has never heard of MFA, and
#    a client that believed that would be free to read the absence of a challenge
#    as the absence of a requirement and fall back to the password.
#
#    Note that core's list does carry a `unavailable` slug, and folding this into
#    it was the obvious option. It was rejected because `unavailable` is this
#    service's readiness-probe answer — the whole of its meaning is "a dependency
#    is down" — and one slug cannot also mean "this deployment is not configured to
#    do a thing it advertises". A client that wants to retry with backoff can key
#    on the status alone; a client that wants to tell the user "ask your
#    administrator" can key on this code, and that is the difference.
#
#    Proposal for core, not a fait accompli: add `account_locked` mapped to 423,
#    `service_unavailable` mapped to 503 and `payload_too_large` mapped to 413 to
#    the reserved list. `invalid_json` may be better folded into
#    `validation_failed` at 400, since core's list is keyed by slug and one slug
#    cannot carry two statuses.
#
# 3. `info.version` is set, and it is at 1.2.0.
#
#    core's versioning section carries an open decision (D4) about whether a
#    document version is required alongside the `/v1` path prefix, precisely
#    because two version numbers to keep in sync is a footgun. Setting it here
#    satisfies the stricter reading and costs nothing; the looser reading would
#    have core drop the field.
#
#  4. `GET /readyz` returns `{status, deps}` on 503, not a problem document.
#
#    This is a conflict between two authoritative sources, and neither should be
#    changed unilaterally by this packet.
#
#    core says every non-2xx response is `application/problem+json`. core's Problem
#    schema has nowhere to put a dependency list, and that list is the entire value
#    of `/readyz` to whoever is reading a failing probe.
#
#    The behaviour came from packet identity-01, which is merged and has tests
#    asserting it: AGENTS.md requires `/readyz` to "report which dependencies failed
#    by name", with the cause going to the log so an unauthenticated request cannot
#    learn that a database host sits at a particular address. That reasoning is
#    sound and this packet did not overturn it.
#
#    Resolution is the manager's: either core's envelope grows a place for probe
#    diagnostics, or `/readyz` is scoped out of the client contract as an
#    operational endpoint. The first is a core change, the second is a manifest
#    change, and both are core's call.
#
# Not gaps, recorded because a reviewer will ask:
#
#  * The `bearerToken` scheme is `http`/`bearer` with an opaque token, not a JWT.
#    core's auth section describes JWTs for service-to-service traffic verified
#    against identity's JWKS. These are server-side session tokens: revocation is a
#    row delete that takes effect on the next request, which a self-contained JWT
#    cannot do. The OIDC provider DOES issue JWTs, and those are verified against
#    the JWKS in `openid/openid.yaml`.
#  * `POST /v1/session/mfa` is on the `sessions` tag, not the `mfa` one, and it is
#    mounted even in a deployment with no `MFA_ENCRYPTION_KEY`. It is the rest of
#    the login, it lives with the login, and it answers `503` rather than being
#    absent. A client must therefore not infer "MFA is off" from a 404 on a
#    management route — the only statement that MFA is off is a `200` from
#    `GET /v1/mfa` with `enabled: false`.
#  * There is no CSRF token on the cookie surface. `SameSite=Lax` plus a
#    state-changing surface that is POST/DELETE only and carries no ambient
#    authority covers the ordinary case; the explicit double-submit token belongs
#    with the browser app in `parlor`. It is a real gap, not a settled question.
#  * There is no `GET /v1/users/{id}`. Nothing needs it, and an endpoint that
#    exists only to be probed is an endpoint that leaks.
# ---------------------------------------------------------------------------
